 * {
            padding: 0;
            margin: 0;
            font-family: poppins, sans-serif;
            box-sizing: border-box;
        }

        body {
            background-color: #9c5da7;
        }

        .Contact {
            width: 73%;
            height: 820px;
            border: 2px solid black;
            margin: 10px;
            position: relative;
            left: 150px;
            background-color: rgb(58, 05, 88);
        }

        .left_contact {
            width: 500px;
            height: 700px;
            /* border: 2px solid black; */
            margin: 30px;
            position: absolute;
            left: 20px;
            top: 30px;
            display: inline-block;
            text-align: center;
            background-color: rgb(17, 213, 216);
        }

        .right_contact {
            width: 500px;
            height: 700px;

            margin: 30px;

            position: absolute;
            left: 519px;
            top: 30px;
            display: inline-block;
            text-align: center;
            background-color: white;
        }

        h1 {
            color: white;
            font-size: 40px;
            margin-top: 50px;
            font-weight: bold;
        }

        p {
            color: white;
            text-align: center;
            line-height: 25px;
            margin: 40px;
            margin-top: 100px
        }

        .right_h1 {
            color: black;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 50px;
        }

        .right_p {

            font-size: 15px;
            float: left;
            margin-left: 100px;

        }

        input[type="email"]
        ,input[type="text"] {
            width: 300px;
            height: 40px;
            padding: 10px;
            margin: 20px;
            background-color: rgb(197, 195, 195);
            border-style: none;
        }

        button{
              margin: 20px;
        }

        textarea {
            width: 300px;
            height: 100px;
            padding: 10px;
            margin-left: 100px;
            margin-top: 20px;
            /* line-height: px; */
            /* position: sticky; */
            background-color: rgb(197, 195, 195);
            border-style: none;
            display: block;
        }

        [type="submit"] {
            width: 150px;
            height: 40px;
            padding: 5px;
            background-color: rgb(17, 213, 216);
            color: white;
            font-size: 18px;
            font-weight: bold;
            border-radius: 10px;


        }